body, h1, h2, form, input, textarea, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

form {
    max-width: 1000px;
    margin: 0 auto 40px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 4 4px 15px rgba(0, 0, 0, 0.61);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #76da76;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.6s;
}

button:hover {
    background-color: #408d40;
}

#gamesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
}

#gamesList div {
    background-color: #ebe3d2;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#gamesList h3 {
    margin-top: 0;
    font-size: 23px;
    color: #007bff;
}

#gamesList p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
}

#gamesList button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#gamesList button:hover {
    background-color: #a71d2a;
}

#Dbtn{
    background-color:rgb(35, 35, 41);
    max-width: 60px;
}